<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Eclipseショートカットクイズ</title>
	<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>

<body>
	<h1>Eclipseショートカットクイズ</h1>

	<div class="noquiz-container">
		問題番号
	</div>

	<div class="eclipsquiz-container">
		<!-- モデルから受け取った問題文を表示 -->
		<p th:text="${question.question}"></p>
	</div>

	<form method="post" action="example.cgi">

		<p>選択肢<br>
			<!-- モデルから受け取った選択肢を表示 -->
			<label th:each="choice : ${choices}">
				<input type="radio" th:name="q1" th:value="${choice.id}" th:text="${choice.content}" />
			</label>
		</p>

		<p><input type="submit" value="回答する"></p>

	</form>

	<div class="eclipsanswer-container">
		ここに正解不正解が表示される。
	</div>

	<div class="EclipsAnswerProglam-container">
		不正解の場合解答が表示される。
	</div>

	<form method="post" action="eclipseQuiz/next">
		<p><input type="submit" value="次へ"></p>
	</form>

</body>

</html>